*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F8F6F4
    
}
/*Nav-bar Styles*/
a{
    text-decoration: none;
    color: white;
}
.navbar{
    width: 100%;
    height: 40px;
    padding: 0 200px;
    background-color: #8a9ac0;
    color: white;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.navbar button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

#estantes{
    width: 100%;
    display: flex;
}
/*Nav-bar Styles*/

/*MAIN*/
#main-container{
    /* width: 70%; */
    height: 100vh;
    margin: 0 auto;
}
#main-container h2 a{
    color: black;
}
/*search-bar*/
.meus-livros{
    width: 100%;
    height: 50px;
}
.search-bar{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.search-bar p{
    font-size: 1.4rem;
    font: bold;
    margin-top: 20px;
}

.form{
    display: flex;
    height: 30px;
    margin-right: 0 auto
}

#search{
    width: 400px;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    border: 1px solid black;
    background-color:  white;
    padding: 0 5px;
}
#search:focus{
    border: 2px solid red;
}
.button-search{
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: #8a9ac0;
}
.button-search{
    width: 30px;
    height: 30px;
}
.user p{
    font: 1.5rem;
    font: bold;
}
.user{
    display: flex;
    gap: 15px
}
.user i{
    margin-top: 5px;
    display: flex;
    background-color: #8a9ac0;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;

}
.user button{
    border: none;
    background: none;
}
.user a{
    text-decoration: none;
    color: #8a9ac0;
}
/*search-bar*/
.divisor{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    height: 5px;
    background-color: #8a9ac0;
}
/*EStantes*/
.main-content{
    flex-direction: row;
    display: flex;
}

#minhas-estantes{
    width: 100%;
    height: auto;
    padding: 3px;
}
.barra-lateral i{
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: white;
    background-color: #8a9ac0;
    display: inline-flex;
    cursor: pointer;
}

#minhas-estantes h3{
    display: inline-flex;
    border-bottom: 1px solid black;
    width: 300px;
}

.estantes{
   display: flex;
   flex-direction: column;
}
.scroll-livros{
    display: inline-flex;
    flex-direction: row;
    width: auto;
}
.card{
    width:120px;
    height: 190px;
}
.card-img-top{
    width:120px;
    height: 190px;
}
#bookModal{
    font-size: 4rem;
    color: #8a9ac0;
    text-align: center;
    background-color: white;
    border: 2px dashed #8a9ac0;
    width: 120px;
    height: 190px;
    cursor: pointer;
}


.livro-item {
    cursor: pointer;
}
/*EStantes*/


/*Media QUery*/
@media (max-width: 768px) {

    header {
      display: none;
    }
    
    #main-container{
    
        padding: 0;
    }
    .search-bar{
        display: flex;
        flex-direction: row-reverse;
        height: 40px;
        padding-bottom: 5px;
    }
    .search-bar h2{
        display: none;
    }
    .search-bar form{
        display: flex;
        margin-top: 5px;
    }

    #minhas-estantes{
        width: 100%;
    }
    
    #search{
        width: auto;
    }
}

.form{
    width: auto;
}
.form input{
    display: block;
    width: 150px;
}
.button{
    height: 35px;
    width: 35px;        
}
    
  
@media (min-width: 1200px){
    #main-container{
        width: 70%;
    }
}


/*ESTANTES MEDIA QUERY*/
@media (min-width: 1200px){
    #minhas-estantes{
        height: 500px;
    }
}
/*ESTANTES MEDIA QUERY*/
/*Media QUery*/
/*MAIN*/



/*Content*/
.Content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/*Barra lateral*/
.title-minhas-estantes{
    font-size: 1.5rem;
}
.barra-lateral {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%; 
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 10px;
}
.barra-lateral a{
    color: black;
}

.custom-button {
    background-color: #8a9ac0; 
    color: #fff; 
    border: none; 
    cursor: pointer; 
    border-radius: 4px; 
    margin-right: 3px;
    width: 40px;
    height: 40px;
    
}

.custom-button:hover {
    background-color: #0056b3; 
}
/*Barra lateral*/


.resultado-pesquisa{
    padding: 20px 10px;
    width: 100%;
}
.resultado-pesquisa .pesquisa{
    margin-left: 10px;
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid black;
}

.add-book-btn{
    width: 130px;
    height: 180px;
}
/*Capas*/
.Capas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.livro{
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    max-height: 400px;
    cursor: pointer;
}
.livro:hover{
    background-color: rgb(181, 181, 181);
}
.livro img{
    width: 150px;
    height: 200px;
}
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-body img{
    margin: 0 auto;
}
/*Capas*/


/*Content*/
