*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F8F6F4
    
}
/*Nav-bar Styles*/
.navbar{
    width: 100%;
    height: 40px;
    padding: 0 200px;
    background-color: #8a9ac0;
    color: white;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.navbar button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/*Nav-bar Styles*/

/*MAIN*/
#main-container{
    /* width: 70%; */
    height: 100vh;
    margin: 0 auto;
}
/*search-bar*/
.meus-livros{
    width: 100%;
    height: 50px;
}
.search-bar{
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}
.search-bar p{
    font-size: 1.4rem;
    font: bold;
    margin-top: 20px;
}

.form{
    display: flex;
    height: 30px;
    margin-right: 0 auto
}
#search{
    width: 400px;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
    background-color:  #8a9ac0;
}
.button-search{
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    background-color: #8a9ac0;
}
.button-search{
    width: 30px;
    height: 30px;
}
.user p{
    font: 1.5rem;
    font: bold;
}
.user{
    display: flex;
    gap: 15px
}
.user i{
    margin-top: 5px;
    display: flex;
    background-color: #8a9ac0;
    height: 35px;
    width: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    color: white;

}
.user button{
    border: none;
    background: none;
}
.user a{
    text-decoration: none;
    color: #8a9ac0;
}
/*search-bar*/
.divisor{
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    height: 5px;
    background-color: #8a9ac0;
}
/*EStantes*/
.main-content{
    flex-direction: row;
    display: flex;
}
.barra-lateral{
    width: 250px;
    height: 100vh;
}
#minhas-estantes{
    width: calc(100% - 250px);
    padding-top: 20px;
    padding-left: 20px;
}
#minhas-estantes h3{
    display: inline-flex;
    border-bottom: 1px solid black;
    width: 300px;
}
.estantes{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}
.card{
    width: 10rem;
    margin-right: 10px;
    display: inline-block;
    height: 250px;
    margin: 15px 5px;
}
.card img{
   width: 10rem;
   min-height: 250px;
   border-radius: 8px;
}
#minhas-estantes i{
    display: none;
}
/*EStantes*/


/*Media QUery*/
@media (max-width: 768px) {

    header {
      display: none;
    }
    .barra-lateral{
        display: none;
    }
    #main-container{
    
        padding: 0;
    }
    .search-bar{
        display: flex;
        flex-direction: row-reverse;
        height: 40px;
        padding-bottom: 5px;
    }
    .search-bar h2{
        display: none;
    }
    .search-bar form{
        display: flex;
        margin-top: 5px;
    }

    #minhas-estantes{
        padding: 0;
        width: 100%;
    }
    #minhas-estantes i{
        border-radius: 8px;
        justify-content: center;
        align-items: center;
        margin-left: 40px;
        width: 40px;
        height: 40px;
        color: white;
        background-color: #8a9ac0;
        display: inline-flex;
        cursor: pointer;
    }
    #search{
        width: auto;
    }
}

.form{
    width: auto;
}
.form input{
    display: block;
    width: 150px;
}
.button{
    height: 35px;
    width: 35px;        
}
    
  
@media (min-width: 1200px){
    #main-container{
        width: 70%;
    }
}


/*ESTANTES MEDIA QUERY*/
@media (min-width: 1200px){
    #minhas-estantes{
        height: 500px;
    }
}
/*ESTANTES MEDIA QUERY*/
/*Media QUery*/
/*MAIN*/



/*Content*/
.Content{
    display: flex;
}
/*Barra lateral*/
.title-minhas-estantes{
    font-size: 1.5rem;
}
.barra-lateral {
    width: 250px; 
    padding: 20px 0; 
    border-right: 1px solid;
}

.barra-lateral ul {
    list-style-type: none;
    padding: 0;
}

.barra-lateral li {
    margin-bottom: 10px;
}

.custom-button {
    background-color: #8a9ac0; 
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 4px; 
}

.custom-button:hover {
    background-color: #0056b3; 
}
/*Barra lateral*/


.resultado-pesquisa{
    padding: 20px 10px;
    width: 100%;
}
.resultado-pesquisa .pesquisa{
    margin-left: 10px;
    width: 100%;
    display: inline-flex;
    border-bottom: 1px solid black;
}


/*Capas*/
.Capas{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.livro{
    text-align: center;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 160px;
    max-height: 400px;
    cursor: pointer;
}
.livro:hover{
    background-color: rgb(181, 181, 181);
}
.livro img{
    max-width: 150px;
    max-height: 200px;
}

.livro p{
    white-space: wrap;  /* Impede que o texto quebre em várias linhas */
    overflow: hidden;     /* Oculta qualquer texto que ultrapasse o contêiner */
    text-overflow: ellipsis;  /* Adiciona três pontos (...) para indicar que o texto foi truncado */
}
/*Capas*/


/*Content*/
