.Toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.searchBar{
    display: flex;
}
.searchBar .user{
    margin-right: 40px;
}
.inputBase{
    height: 40px;

    border: 1px solid #596778;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    padding-left: 10px;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSearch{
    height: 40px;
    width: 40px;
    margin: 0;
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #596778;
    color: white
}
.btnSair{
    height: 40px;
    width: 40px;
    margin: 0;
    border: none;
    border-radius: 8px;
    background-color: #596778;
    color: white
}
.user{
    align-self: flex-end;
}
.user a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    background-color: #596778;
}
.pesquisa{
    display: flex;
    width: auto;
}
@media screen and (min-width: 1280px) {
    .searchBar{
        width: 100%;
        justify-content: space-between;
    }
}