*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Nav-bar Styles*/
a{
    text-decoration: none;
    color: white;
}
.navbar{
    width: 100%;
    height: 40px;
    padding: 0 200px;
    background-color: #8a9ac0;
    color: white;
}
.nav-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}

.navbar button {
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}


/*Nav-bar Styles*/
.main{
    width: 70%;
    margin: 0 auto;
}
.main h1{
    border-bottom: 5px solid grey;
}
.perfil{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.barra-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: auto;
    border-right: 1px solid black;
}
.barra-lateral img{
    border-radius: 50%;
}
.main-content-perfil{
    padding: 40px;
}
.biografia input{
    width: 600px;
    height: 500px;
}
.redes-sociais div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}

@media (max-width: 500px){
    .navbar{
        height: auto;
    }
    .main{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .main h1{
        display: block;
        width: 100%;
    }
    .barra-lateral{
        width: 100%;
        text-align: center;
        border: none;
    }
    .barra-lateral img{
        width: 50%;
    }
    .perfil{
       
        display: flex;
        flex-direction: column;
    }
    .biografia input{
       width: 300px;
       height: 250px;
    }
}

