
.estante h3{
  color: #333333;
  border-bottom: 1px solid #333333;
}
.scrollLivros{
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
  width: 100%;
  height: auto;
}
  
.livro{
  gap: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.livro:hover{
  border-radius: 8px;
  transform: translateY(-5px); /* Move a div para cima ao passar o mouse */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}
.livro img:hover{
  border-radius: 8px;
  background-color: #cfcfcf;
}

.livro h4{
  color: #333333;
  width: 100%;
  margin-top: 5px;
}

.cardStyle{
  width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 700px;
  overflow-y: auto;
}

  @media screen and (min-width: 460px){
    .scrollLivros {
      grid-template-columns: repeat(auto-fill, minmax(18%, 2fr)); 
    }

  }

  @media screen and (min-width: 1280px) {
    .estante{
      min-height: 500px;
    }
    .livro img{
      width: 180px;
      max-height: 250px;
    }
    .estante h3{
      margin-left: 10px;
    }
    .cardStyle{
      width: 500px;
      height: 700px;
    }
  }

  