.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    color: #fff;
}
.formHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.loginButton button:hover {
    background-color: #081b32f1;
}

.loginButton button {
    background-color: #8a9ac0;
    border-radius: 5px;
    height: 30px;
    width: 90px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.inputGroupLogin{
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.inputBox{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 70px;
    margin-bottom: 20px;
}
.inputBox input{
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}

.continueButton button{
    font-size: 1.4rem;
    background-color: #8a9ac0;
    border-radius: 5px;
    height: 50px;
    width: 300px;
    border: none;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.continueButton button:hover {
    background-color: #081b32f1;
}

.genderGroup{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.genderInput input {
    margin-right: 5px;
}
@media screen and (min-width: 1280px) {
    .main{
        height: 650px;
        width: 650px;
    }
    .main form{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .formHeader{
        display: flex;
    }
    .inputGroup{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        
    }
    .inputBox{
        width: 260px;
    }
    .inputBox input{
        width: 260px;
    }
    .genderGroup{
        margin: 15px 0;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    form .continueButton{
        align-self: center;
    }
}
