*{
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text{
    display: flex;
    flex: 1px;
    text-align: center;
    margin: 30px;
    background-color: #8294c68c;
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 7px 2px 39px -10px rgba(0,0,0,0.9);
    -moz-box-shadow: 7px 2px 39px -10px rgba(0,0,0,0.9);
    box-shadow: 7px 2px 39px -10px rgba(0,0,0,0.9);

}
.imgen{
    display: flex;
    max-width: 200px;

}

.navbar{
    display: flex;
    width: 100%;
    max-height: 80px;
    background-color: #8294C6 ;
}
.navbar button{
   margin-left: 20px;
}
@media (max-width: 480px) {
    .navbar{
        display: flex;
        align-content: center;   
        width: 100%;
        height: 70px; 
    }
  }
  
.navbar img{
    width: 70px;
}
.user-buttons{
    display: flex;
    flex-direction: flex-end;
    gap: 20px;
}
.user{
    margin-right: 20px;
}
.navbar i{
    color: #DBDFEA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #DBDFEA;
    font-size: 1.5rem;
}
.forms{
    display: flex;
    gap: 5px;
}
.forms input{
    width: 500px;
}

.forms button{
    color: #DBDFEA;
    border-color: #DBDFEA;
}
.forms button:hover{
    border-color: #5d6b90;
    background-color: #5d6b90;
}