body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

header img {
    max-width: 150px;
    border-radius: 50%;
}

header h1 {
    font-size: 36px;
    color: #333;
    margin: 10px 0;
}

header p {
    font-size: 18px;
    color: #777;
}

.contact-info ul,
.social-media ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li,
.social-media li {
    margin-bottom: 10px;
}

.social-media strong {
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.social-media a {
    text-decoration: none;
    color: #007BFF;
}

.social-media a:hover {
    text-decoration: underline;
}

.bio h2 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.bio p {
    font-size: 18px;
    color: #777;
    line-height: 1.5;
}
