*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
}
/*Main Styles*/
.navbar{
    width: 100%;
    height: 60px;
    color: #DBDFEA;
    background-color: #8294C6;
}
@media (max-width: 767px) {
    .navbar img{
        display: none;

    }
}

.logo{
    max-width: 100px;
}
.form input{
    width: 400px;
    
}
.form button{
    margin-left: 10px;
    border-color: #DBDFEA;
    color: #DBDFEA;
}

.form button:hover{
    border-color: #5d6b90;
    background-color: #5d6b90;
}
.nav-link i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #DBDFEA;
    color: #DBDFEA;
}
.nav-link i:hover{
    border-color: #5d6b90;
    background-color: #5d6b90;
}

/*Categorias*/
.categorias{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px 0;
}
.categorias button{
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 80px;
    background-color: #8294C6;
}
.categorias button img{
    width: 60px;
}
.btn-categorias{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Categorias*/

/*card-group*/
#card-group{
    margin: 40px 0;
    overflow-x: scroll;
}
.card-list{
    display: flex;
    width: 500px;
    overflow-x: scroll;
}
.card{
    display: flex;
    justify-content: center;
    width: 200px;
    margin: 0 5px;
}
.card img{
    width: auto;
    height: 100px;
}
.card-body{
    height: 150px;
}
/*card-group*/

/*Footer*/
footer {
    background-color: #5d6b90; /* Cor de fundo do footer */
    padding: 20px; /* Espaçamento interno para o conteúdo */
    color: white; /* Cor do texto dentro do footer */
  }
/*Footer*/
/*Main Styles*/