*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Main Styles*/
.navbar{
    max-height: 60px;
    color: #DBDFEA;
    background-color: #8294C6;
}
.logo{
    max-width: 100px;
}
.form input{
    width: 400px;
    
}
.form button{
    margin-left: 10px;
    border-color: #DBDFEA;
    color: #DBDFEA;
}

.form button:hover{
    border-color: #5d6b90;
    background-color: #5d6b90;
}
.nav-link i{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #DBDFEA;
    color: #DBDFEA;
}
.nav-link i:hover{
    border-color: #5d6b90;
    background-color: #5d6b90;
}
/*Main Styles*/